body {
    text-align: center;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

html {
    user-select: none;
}

* {
    box-sizing: border-box;
}
div#imagediv {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  

}

img#div1 {
    height: 100%;
    width: 100%;


}

div#div2 {
    margin: auto;
    height: 300px;
    width: 300px;
    background-color: blue;
    position:absolute !important;
    visibility: hidden;
   
}

#div2.open {
    visibility: visible;
}

i {
    position: absolute;
    top:2px;
    right: 5px;
    font-size:1.5rem;
    color: whitesmoke;
    cursor: pointer;
}

i:active {
    transform: scale(0.9);
}

#div2 > ul {
    margin: auto;
    list-style: none;
    padding: 0;
    width: 100%;
}

#div2 > ul > li {
    height:60px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    letter-spacing: 4px;
    border: 1px solid grey;
}

#div2 > ul > li:hover {
    background-color:white;
    color: black;
    transition: 300ms ease;
    cursor: pointer;
}